*, html {

}

body {
    background-color: lightcoral;
}

img.index {
    width: 40ex;
    length: 30ex;
    border: solid black;
}

h1.name {
    margin-top: 20px;
    font-size: xxx-large;
    margin-bottom: 6px;
    color: white;
    text-align: center;
    padding-top: 20px;
}

h3.shortbio {
    font-size: large;
    margin-top: 6px;
    text-align: center;
    color: lightslategray;
}

img.social {
    width: 15ex;
    height: 15ex;
}

img.seniorpic {
    margin-top: 2em;
    min-width: 32px;
    max-width: 10%;
    border-radius: 75%;
    opacity: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

nav {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-width: 3px;
    border-color: lightskyblue;
    font-size: large;
    text-align: center;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li.nav2 {
    display: inline;
    padding: 8px;
    background-color: lightskyblue;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: white;
    text-decoration-color: white;
}

link:visited {
    text-decoration-color: white;
}

div.header {
    display: flex;
    margin: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

header {
    padding-top: 1ex;
}

h1.resume {
    text-align: center;
    color: white;
    font-size: xxx-large;
    margin-bottom: 0;
}

p.resume {
    text-align: center;
    color: lightslategray;
    font-size: large;
    margin-top: 0;
    margin-bottom: 5ex;
}

div.resume {
    font-family: "fantasy", serif;
    font-size: medium;
    text-align: center;
}

ul.resume {
    text-align: center;
    list-style-type: none;
}


* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}