<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>4russ</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="icon" href="/static/favicon.ico">
</head>

<header>
	<div class="header">
		<nav>
			<ul class="nav">
				<li class="nav2"><a href="/" target="_top">Home</a></li>
			</ul>
		</nav>
	</div>
</header>

<body>

<h1 class="name">Dear Russell Andre Eanes,</h1>
<h3 class="shortbio">Life has been nothing but adventures with you during these past 7 months.</h3>
<h3 class="shortbio">Wanna add prom to our list of adventures with me?</h3>
<h3 class="shortbio">Love, Kat Pompilio</h3>

<img class="index" src="/static/russ.jpg" alt="Stone Bridge Homecoming Picture">

</body>

</html>
