<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>katpomp</title>
</head>
<body>

<a href="/whyilovebella" target="_top">My lover</a>
<a href="/about" target="_top">About Me</a>

<h1> Kathryn Rose Pompilio </h1>

<div>
	<p> Student at Briar Woods High School and Academies of Loudoun (MATA Cisco and Cybersecurity)</p>
	<p> I noticed my passion for computers when I first began Hour of Code in 3rd grade. Ever since, I began learning
		new things and applied to the Academies of Loudoun.</p>
</div>

<img src="/static/homerun.jpg" alt="Profile Picture">

<div>
	<a href="https://www.linkedin.com/in/kathryn-rose-p-0aa2961b4" target="_blank"> LinkedIn </a>
</div>

</body>
</html>
