<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>katpomp</title>
</head>
<body>

<style>

	*, html {
		background-color: lightslategray;
	}
	
	img.homerun {
		width: 80ex;
		length: 60ex;
	}


</style>

<a href="/aboutme" target="_top">About Me</a>
<a href="/links" target="_top">Links</a>

<h1> Kathryn Rose Pompilio (Kat Pompilio)</h1>

<div>
	<p> Student at Briar Woods High School and Academies of Loudoun (MATA Cisco and Cybersecurity)</p>
	<p> I noticed my passion for computers when I first began Hour of Code in 3rd grade. Ever since, I began learning
		new things and applied to the Academies of Loudoun.</p>
</div>

<img class="homerun" src="/static/homerun.jpg" alt="Profile Picture">


</body>
</html>
