<!DOCTYPE html>

<html lang="en">
<head>
	<link rel="stylesheet" href="/static/style.css">
	<meta charset="UTF-8">
	<title>Kat Pompilio</title>
	<link rel="icon" type="image/x-icon" href="/static/favicon.png">
</head>

<header>
	<div class="header">
		<nav>
			<ul class="nav">
				<li class="nav2"><a href="/aboutme" target="_top">About Me</a></li>
				<li class="nav2"><a href="/links" target="_top">Links</a></li>
			</ul>
		</nav>
	</div>
</header>

<body>

<h1 class="name"> Kathryn Rose (Kat) Pompilio</h1>
<h3 class="shortbio"> Student at Briar Woods High School and Academies of Loudoun (MATA Cisco and Cybersecurity)</h3>

<div>
	<img class="index" src="/static/sunrise.JPG" alt="Senior Sunrise">
	<img class="index" src="/static/botb.jpg" alt="Battle of the Burn Game">
	<img class="index" src="/static/langleyandmom.jpg" alt="Langley and Mom">
	<img class="index" src="/static/fam.jpg" alt="Profile Picture">
	<img class="index" src="/static/bwhoco.jpg" alt="Profile Picture">
	<img class="index" src="/static/blackandwhite.jpg" alt="Black and White Dance">
	<img class="index" src="/static/katandbella.jpg" alt="Profile Picture">
	<img class="index" src="/static/pvi.jpg" alt="Profile Picture">
	<img class="index" src="/static/sb2w.jpg" alt="Profile Picture">
	<img class="index" src="/static/sbhoco.jpg" alt="Profile Picture">
</div>
</body>
</html>
