<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Links</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="icon" type="image/x-icon" href="/static/favicon.png">
</head>

<header>
	<div class="header">
		<nav>
			<ul class="nav">
				<li class="nav2"><a href="/" target="_top">Home</a></li>
				<li class="nav2"><a href="/aboutme" target="_top">About Me</a></li>
			</ul>
		</nav>
	</div>
</header>

<body>

<h1>Links to social media</h1>

<a href="https://www.instagram.com/katpomp/"><img class="social" src="/static/instagram.jpg" alt="Instagram Logo"></a>
<a href="https://www.linkedin.com/in/kathryn-rose-p-0aa2961b4"><img class="social" src="/static/linkedin.jpg" alt="LinkedIn Logo" </a>
<a href="https://twitter.com/katpompp"><img class="social" src="/static/twitter.jpg" alt="Twitter Logo"></a>
<a href="https://github.com/katpomp"><img class="social" src="/static/github.jpg" alt="GitHub Logo"</a>

</body>

</html>
