<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Links</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>

<a href="/" target="_top"><- Back to home</a>

<h1>Links to social media</h1>

<div>
	<a class="links" href="https://www.instagram.com/katpomp/" target="_self_">Instagram</a>
</div>
<div>
	<a class="links" href="https://www.linkedin.com/in/kathryn-rose-p-0aa2961b4" target="_self"> LinkedIn </a>
</div>
<div>
	<a class="links" href="https://twitter.com/katpompp" target="_self">Twitter</a>
</div>

</body>

</html>
