<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>My Friends</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="icon" href="/static/favicon.ico">
</head>

<header>
	<div class="header">
		<nav>
			<ul class="nav">
				<li class="nav2"><a href="/" target="_top">Home</a></li>
				<li class="nav2"><a href="/aboutme" target="_top">About Me</a></li>
				<li class="nav2"><a href="/links.html" target="_top">Links</a></li>
			</ul>
		</nav>
	</div>
</header>

<body>

<h1>Russell Eanes, will you go to prom with me?</h1>

</body>

</html>
