<!DOCTYPE html>

<html lang="en">

<style>
	
	img.bella {
		height: 90ex;
		length: 160ex;
	}

</style>

<head>
	<meta charset="UTF-8">
	<title>My Love for Bella</title>
</head>

<body>

<h1>My secret lover...</h1>

<p>Isabella Fusari will forever be my secret lover. We have been married for 3 years, however she does not know.</p>

<img class=bella src="/static/bella.jpg" alt="Picture of Bella">
<h5>Look at my beautiful wife.</h5>

<h2>Reasons why Bella Fusari is the best wife.</h2>
<ol>
	<li>She kisses my boo-boos</li>
	<li>She braids my hair</li>
	<li>My wife is beyond compare</li>
	<li>I see you bella, everywhere</li>
</ol>

<table>
	<tr>
		<th>Pros</th>
		<th>Cons</th>
	</tr>
	<tr>
		<th>We never argue</th>
		<th>None</th>
	</tr>
	<tr>
		<th>We make minimal eye contact</th>
		<th>She is the best wife</th>
	</tr>
	<tr>
		<th>She barely even knows I am there!</th>
		<th>Ever!</th>
	</tr>
</table>

</body>

</html>
